%logo {
    color: $acent-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.header-logo {
    @extend %logo;
    @extend .link;
}

.address {
    .logo{
    @extend %logo;
    @extend .link;
    display: inline-block;
    }
}